html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    max-width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    --main-background: #0a1124;
    --mainThemeColor: #1A6EF4;
    --secondaryThemeColor: #ffc45b;
    --navHeight: 1.8em;
    --homeHeight: 100vh;
    font-size: calc(1em + 1vw);
    background-color: var(--main-background);
}

p {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 0.7em;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #000000;
    width: 100%;
    top: 0;
    height: var(--navHeight);
    z-index: 1;
}

#navMenu {
    list-style-type: none;
    position: fixed;
    height: var(--navHeight);
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem {
    font-family: sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0.15rem 0.7rem;
    border-radius: 20px;
    left: 0;
    right: 0;
    font-size: 0.6em;
    text-align: center;
}

.navItem:is(:active, :hover, :focus) {
    background-color: var(--mainThemeColor);
    color: #FFFFFF;
}

.activeSection {
    color: var(--mainThemeColor);
}

#home {
    position: absolute;
    height: var(--homeHeight);
    width: 100%;
    background-color: #090a0f;
}

#introduction {
    width: 100%;
    text-align: center;
    margin-top: 38vh;
    margin-bottom: 13em;
}

#introduction p {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin: 3.5rem;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

#introduction p span {
    color: var(--mainThemeColor);
}

#viewWork a:link, #viewWork a:visited {
    font-family: sans-serif;
    background-color: none;
    text-decoration: none;
    color: var(--mainThemeColor);
    border: 2px solid var(--mainThemeColor);
    padding: 0.8rem 1.8rem;
    font-size: 1em;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.7s;
    -webkit-animation: fadeIn 1s forwards;
    -webkit-animation-delay: 0.7s;
    -moz-animation: fadeIn 1s forwards;
    -moz-animation-delay: 0.7s;
    -o-animation: fadeIn 1s forwards;
    -o-animation-delay: 0.7s;
    -ms-animation: fadeIn 1s forwards;
}

#viewWork a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
 
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
#stars {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background: transparent;
}

#stars ul li {
    width: 1px;
    height: 1px;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
*/

/*#viewWork span {
    background-color: var(--mainThemeColor);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: 0;
    transition: 0.1s;
    z-index: -1;
}*/

.heading {
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#about {
    background: linear-gradient(to bottom, #090a0f 0%, #0a1124 100%);
    margin: 0em;
    margin-top: var(--homeHeight);
}

#about img {
    width: 9em;
    height: 9em;
    display: block;
    filter: invert(70%) sepia(80%) saturate(371%) hue-rotate(340deg) brightness(104%) contrast(101%);
    margin: 2em auto;
}

#about p:last-child {
    margin: 2em auto;
    line-height: 1.3em;
    width: 90%;
}

#skillBoxes {
    display: flex;
    text-align: center;
    justify-content: center;
}

#skillBoxes div {
    width: 2.5em;
    height: 2.5em;
    padding: 1em;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--secondaryThemeColor), var(--mainThemeColor));
    margin: 3em auto;
    margin-top: 2em;
}

#skillBoxes div img {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
}

#skillBoxes div p {
    height: 1em;
}

#projects div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0.5em;
}

#projects div .description a {
    margin: 0 auto;
}

#projects div a img {
    width: 9em;
    object-fit: cover;
    border: 2px solid  rgba(226, 232, 240, 0.4);
    border-radius: 0.25rem;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
}

.description p, .description a {
    font-size: 0.7em;
    margin: 0.5em 0em;
    font-family: sans-serif;
}

.description p:first-child {
    font-size: 1em;
}

.description a:link, .description a:visited {
    border: 2px solid var(--mainThemeColor);
    padding: 0.8rem 1.8rem;
    width: 5em;
    text-align: center;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

/*#contact {
    text-align: center;
}

textarea {
 padding: 1em;
 border-radius: 5px;
 border: 1px solid #555;
 resize: none;
}

#submit {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background: var(--mainThemeColor);
    color: #fff;
    cursor: pointer;
}*/


@media screen and (min-width: 992px) {
    #projects div {
        margin: 3em 1em;
    }
    
    #projects div:nth-child(odd) .description {
        text-align: right;
        display: block;
    }
    
    #projects div:nth-child(odd) .description a {
        float: right;
    }
    
    #projects div a img {
        width: 25em;
        object-fit: cover;
    }
    
    .description p, .description a {
        margin: 0.5em 0em;
        text-align: left;
    }

    #projects div .description a {
        margin: unset;
    }

    .description:nth-child(odd) p {
        text-align: right;
    }
}


@media screen and (min-width: 480px) {
    #about p:last-child {
        width: 25em;
    }

    #skillBoxes div {
        width: 4em;
        height: 4em;
        margin: 3em 1em;
        margin-top: 2em;
    }

    #skillBoxes div img {
        width: 3em;
        height: 3em;
        margin-bottom: 0.5em;
        margin-top: 0em;
    }

    #projects div a img {
        width: 90%;
    }
}