html {
    overflow-x: hidden;
    min-width: 100%;

    --main-background: #0a1124;
    --mainThemeColor: #1A6EF4;
    --secondaryThemeColor: #ffc45b;
    --navHeight: 1.8em;
    --homeHeight: 100vh;
    --linkHeight: 1.8em;
}

body {
    min-width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: calc(1em + 1vw);
    background-color: var(--main-background);
}

p {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 0.7em;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #000000;
    width: 100%;
    top: 0;
    height: var(--navHeight);
    z-index: 2;
}

#navMenu {
    list-style-type: none;
    position: fixed;
    height: var(--navHeight);
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem {
    font-family: sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0.15rem 0.7rem;
    border-radius: 20px;
    left: 0;
    right: 0;
    font-size: 0.6em;
    text-align: center;
}

.navItem:is(:hover, :active) {
    background-color: var(--mainThemeColor);
    color: #FFFFFF;
}

.navItem:focus {
    background-color: transparent;
    color: var(--mainThemeColor);
}

.navItem:visited {
    color: #FFFFFF;
}

.activeSection {
    color: var(--mainThemeColor);
}

#home {
    position: absolute;
    height: var(--homeHeight);
    min-width: 100%;
    background: #090a0f;
}

#introduction {
    width: 100%;
    text-align: center;
    margin-top: 38vh;
    margin-bottom: 13em;
    z-index: 1;
    position: relative;
}

#introduction p {
    --introAnimationTime: 2s;
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin: 2.5rem;
    animation: fadeIn var(--introAnimationTime);
    -webkit-animation: fadeIn var(--introAnimationTime);
    -moz-animation: fadeIn var(--introAnimationTime);
    -o-animation: fadeIn var(--introAnimationTime);
    -ms-animation: fadeIn var(--introAnimationTime);
}

#introduction p span {
    color: var(--mainThemeColor);
}

#introduction a:link, #introduction a:visited {
    --linkAnimationTime: 1s;
    --linkDelayTime: 0.7s;
    --linkHoverTime: 0.5s;
    width: 8em;
    height: var(--linkHeight);
    margin: 0 auto;
    line-height: var(--linkHeight);
    font-family: sans-serif;
    text-decoration: none;
    color: var(--mainThemeColor);
    border: 2px solid var(--mainThemeColor);
    overflow: hidden;
    font-size: 1em;
    opacity: 0;
    padding: 0.8rem 1.8rem;

    /*This is the animation for letting the link slowly appear when the page loads*/
    animation: fadeIn var(--linkAnimationTime) forwards;
    animation-delay: var(--linkDelayTime);
    
    -webkit-animation: fadeIn var(--linkAnimationTime) forwards;
    -webkit-animation-delay: var(--linkDelayTime);
    
    -moz-animation: fadeIn var(--linkAnimationTime) forwards;
    -moz-animation-delay: var(--linkDelayTime);
    
    -o-animation: fadeIn var(--linkAnimationTime) forwards;
    -o-animation-delay: var(--linkDelayTime);
    
    -ms-animation: fadeIn var(--linkAnimationTime) forwards;
    -ms-animation-delay: var(--linkDelayTime);
}

#introduction a:hover {
    text-decoration: underline;
    color: #000000;
    background-color: var(--mainThemeColor);
}

#introduction a span {
    display: none;
}

#homeBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent;
}

#stars li {
    width: 0.1em;
    height: 0.1em;
    position: absolute;
    display: block;
    list-style: none;
    background: #FFFFFF;
    bottom: 0;
    border-radius: 50%;
    opacity: 0;
    animation: starMovement linear infinite;
    -webkit-animation: starMovement linear infinite;
    -moz-animation: starMovement linear infinite;
    -o-animation: starMovement linear infinite;
    -ms-animation: starMovement linear infinite;
}

.heading {
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#about {
    min-width: 100%;
    background: transparent;
    background: -webkit-linear-gradient(#090a0f 0%, #0a1124 100%);
    background: linear-gradient(to bottom, #090a0f 0%, #0a1124 100%);
    background: -moz-linear-gradient(to bottom, #090a0f 0%, #0a1124 100%);
    margin: 0em;
    margin-top: var(--homeHeight);
}

#about img {
    width: 9em;
    height: 9em;
    display: block;
    filter: invert(70%) sepia(80%) saturate(371%) hue-rotate(340deg) brightness(104%) contrast(101%);
    margin: 2em auto;
}

#about p:last-child {
    margin: 2em auto;
    line-height: 1.3em;
    width: 90%;
}

#skillBoxes {
    display: flex;
    text-align: center;
    justify-content: center;
}

#skillBoxes div {
    width: 2.8em;
    height: 2.8em;
    padding: 1em;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--secondaryThemeColor), var(--mainThemeColor));
    margin: 3em auto;
    margin-top: 2em;
}

#skillBoxes div img {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
}

#skillBoxes div p {
    height: 1em;
}

#projects div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0.5em;
}

#projects div .description a {
    margin: 0 auto;
}

#projects div a img {
    width: 9em;
    object-fit: cover;
    border: 2px solid  rgba(226, 232, 240, 0.4);
    border-radius: 0.25rem;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
}

.description p, .description a {
    font-size: 0.7em;
    margin: 0.5em 0em;
    font-family: sans-serif;
}

.description p:first-child {
    font-size: 1em;
}

.description a:link, .description a:visited {
    border: 2px solid var(--mainThemeColor);
    height: var(--linkHeight);
    line-height: var(--linkHeight);
    width: 7em;
    text-align: center;
    text-decoration: none;
    color: var(--mainThemeColor);
    display: block;
}

.description a:hover {
    text-decoration: underline;
    color: #000000;
    background-color: var(--mainThemeColor);
}

@media screen and (min-width: 992px) {
    .navItem:is(:active, :focus) {
        background-color: var(--mainThemeColor);
        color: #FFFFFF;
    }

    #introduction a:link, #introduction a:visited {
        opacity: 0;
        display: block;
        padding: 0;
    
        /*This is to change the text color on hover*/
        transition: color var(--linkHoverTime);
        -webkit-transition: color var(--linkHoverTime);
    }

    #introduction a:hover {
        text-decoration: underline;
        color: #000000;
        background-color: transparent;
    }

    #introduction a span {
        height: 110%;
        width: 110%;
        display: block;
        transition: margin-top var(--linkHoverTime);
        -webkit-transition: margin-top var(--linkHoverTime);
        background-color: var(--mainThemeColor);
        margin: 0;
    }
    
    #introduction a:hover span {
        margin-top: calc(-1 * var(--linkHeight));
    }

    #projects div {
        margin: 3em 1em;
    }
    
    #projects div:nth-child(odd) .description {
        text-align: right;
        display: block;
    }
    
    #projects div:nth-child(odd) .description a {
        float: right;
    }
    
    #projects div a img {
        width: 25em;
        object-fit: cover;
    }
    
    .description p, .description a {
        margin: 0.5em 0em;
        text-align: left;
    }

    #projects div .description a {
        margin: unset;
    }

    .description:nth-child(odd) p {
        text-align: right;
    }
}


@media screen and (min-width: 480px) {
    #about p:last-child {
        width: 25em;
    }

    #skillBoxes div {
        width: 4em;
        height: 4em;
        margin: 3em 1em;
        margin-top: 2em;
    }

    #skillBoxes div img {
        width: 3em;
        height: 3em;
        margin-bottom: 0.5em;
        margin-top: 0em;
    }

    #projects div a img {
        width: 90%;
    }
}